<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890</string>
			<key>Color</key>
			<array>
				<real>0.2</real>
				<real>0.2</real>
				<real>0.7</real>
			</array>
			<key>Keywords</key>
			<array>
				<string>sel</string>
				<string>id</string>
				<string>seq</string>
				<string>frag</string>
				<string>next</string>
				<string>comment</string>
				<string>dur</string>
				<string>ref</string>
				<string>fileId</string>
				<string>ofs</string>
				<string>instruction</string>
				<string>score</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.3</real>
				<real>0.3</real>
				<real>0.3</real>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>EscapeChar</key>
			<string>\</string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>&quot;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.6</real>
				<real>0.3</real>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>Name</key>
			<string>Score</string>
			<key>Start</key>
			<string>=</string>
			<key>Type</key>
			<string>BlockComment</string>
		</dict>
		<dict>
			<key>Keywords</key>
			<array>
				<string>&quot;#</string>
				<string>&quot;##</string>
				<string>&quot;###</string>
			</array>
			<key>Color</key>
			<array>
				<real>0.4</real>
				<real>0.2</real>
				<real>0.7</real>
			</array>
			<key>Charset</key>
			<string>&quot;#</string>
			<key>Name</key>
			<string>crosshatch</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Keywords</key>
			<array>
				<string>;</string>
				<string>|</string>
				<string>_</string>
				<string>:</string>
				<string>@</string>
				<string>&quot;</string>
				<string>=</string>
				<string>=@</string>
				<string>&quot;@</string>
				<string>:&quot;@</string>
				<string>:&quot;</string>
			</array>
			<key>Color</key>
			<array>
				<real>0</real>
				<real>0.5</real>
				<real>0.1</real>
			</array>
			<key>Charset</key>
			<string>;|_:@&quot;=</string>
			<key>Name</key>
			<string>separator</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Keywords</key>
			<array>
				<string>~</string>
				<string>^</string>
			</array>
			<key>Color</key>
			<array>
				<real>0.7</real>
				<real>0.2</real>
				<real>0.7</real>
			</array>
			<key>Charset</key>
			<string>~^</string>
			<key>Name</key>
			<string>special char for id</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>//</string>
			<key>Type</key>
			<string>OneLineComment</string>
		</dict>
		<dict>
			<key>Color</key>
			<array>
				<real>0.5</real>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>*/</string>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>/*</string>
			<key>Type</key>
			<string>BlockComment</string>
		</dict>
		<dict>
			<key>Charset</key>
			<string>ABCDEFGHIJKLMNOPQRSTUVWXYZ-:</string>
			<key>Color</key>
			<array>
				<real>1</real>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>TODO</string>
				<string>BRANCH HERE</string>
				<string>B-H</string>
				<string>PROVISORY</string>
			</array>
			<key>Name</key>
			<string>TODO</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
	</array>
	<key>FileNameSuffixes</key>
	<array>
		<string>vms</string>
		<string>json</string>
	</array>
</dict>
</plist>
